doctype html
html
  head
    title Chapter 2
    script(type="text/javascript", src="js/c2.js")
  body
    section
      article(class="movie selected")
        h1 The Artist
      article(class="movie")
        h1 Taxi Driver
      nav#controls
        a(href="#", class="previous", data-action="previous") Previous
        span |
        a(href="#", class="next", data-action="next") Next

