<!DOCTYPE html>
<html>
  <head>
    <title> Simple Blog</title>
  </head>
  <body>
    <div id="main"></div>
<!--    <script src="js/bundle.js"></script>-->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/index.js"></script>
  </body>
  <h1>
    <% if(hola) { %>
    <%= hola %>
    <% } %>
  </h1>
</html>
