doctype html
html
  head
    title Little test page
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
  body
    .row
      #breadcrumbs.span12
    .row
      #database-list.span12

    script#database-list-template(type="text/backbone")
      td
        a(href = "#") <%=name%>
      td
        button(class="btb btn-info") Click me
    script(src="js/jquery-2.1.3.min.js")
    script(src="js/underscore-min.js")
    script(src="js/backbone-min.js")
    script(src="js/index.js")
